:root {
  --color-primary: #f2931a;
  --color-primary-light: #f49f34;
  --color-primary-dark: #f18701;

  --color-valid: #55c57a;

  --color-white: #fff;
  --color-black: #000;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #888;

  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.5);

  --font-default: 1.6rem;
  --font-large: 2rem;

  --border-small: 3px;
}
