:root {
  --color-primary: #f2931a;
  --color-primary-light: #f49f34;
  --color-primary-dark: #f18701;
  --color-valid: #55c57a;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #222;
  --color-grey-dark-2: #333;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #888;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --font-default: 1.6rem;
  --font-large: 2rem;
  --border-small: 3px;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 78em) {
  .header__text-box {
    width: 60rem;
  }
  .skills__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--font-default);
  line-height: 1.6;
  color: var(--color-grey-dark-2);
}

.heading-primary {
  text-transform: uppercase;
  /* Fix for animations */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  /* animation-delay: 3s; */
}
.heading-primary--sub {
  display: block;
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--color-grey-dark-3);
  /* Shorthand version */
  -webkit-animation: moveInRight 1s ease-in;
          animation: moveInRight 1s ease-in;
}

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary-dark);
}
.heading-secondary--white {
  color: var(--color-white);
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
}

.paragraph {
  font-size: var(--font-default);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 10rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.spam-filter {
  display: none;
}

.d-flex {
  display: flex !important;
  align-items: center;
}

.btn {
  /* Button click animation alternative */
  /* &:hover {
    transform: translate(-2px, -5px);
    box-shadow: 2px 5px $color-black;
  }

  &:active {
    transform: translate(0);
    box-shadow: 0 0 rgba($color-black, 0.25);
  } */
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: var(--font-large);
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 0.5rem var(--shadow-medium);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}
.btn:active, .btn:focus {
  transform: translateY(0);
  box-shadow: 0 0 var(--shadow-medium);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--black {
  background-color: var(--color-grey-dark-2);
  color: var(--color-grey-light-1);
}
.btn--black::after {
  background-color: var(--color-grey-dark-2);
}
.btn--orange {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--orange::after {
  background-color: var(--color-primary);
}
.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  /* Fix for delayed animation. When animation is a third-party class. */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: var(--font-default);
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  padding: 0.3rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0 1rem 2rem var(--shadow-light);
  transform: translateY(-0.2rem);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem var(--shadow-light);
  transform: translateY(0);
}

.skills__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  padding: 3rem;
  height: 15rem;
  width: 13rem;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 1rem var(--shadow-large);
  transition: transform 0.3s;
}
.skills__card:hover {
  transform: translateY(-1.5rem) scale(1.1);
}
.skills__card-icon {
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 2rem;
}
.skills__card-text {
  font-size: 1.6rem;
}

.form {
  padding: 5rem;
}
.form__input {
  font-family: inherit;
  font-size: var(--font-default);
  padding: 1rem;
  width: 100%;
  resize: none;
  display: block;
  border-radius: var(--border-small);
  background-color: var(--color-white);
  border: 2px solid var(--color-grey-dark-4);
  border-bottom: 3.5px solid var(--color-grey-dark-4);
  transition: all 0.5s ease-in-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0.25rem 1.5rem var(--shadow-light);
  border-bottom: 3.5px solid var(--color-valid);
}
.form__input:focus:invalid {
  border-bottom: 3.5px solid var(--color-primary-dark);
}
.form__input::-webkit-input-placeholder {
  color: transparent;
}
.form__label {
  font-size: var(--font-default);
  font-weight: 600;
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  padding: 0 0.5rem;
  display: inline-block;
  margin-left: 1.7rem;
  transition: all 0.3s;
  transform-origin: 0 0;
}
.form__label-std {
  transform: translateY(-3.7rem);
}
.form__textarea {
  transform: translateY(-12.6rem);
}
.form__input:not(:-moz-placeholder-shown) ~ .form__label-std {
  transform: translateY(-6.2rem);
}
.form__input:not(:-ms-input-placeholder) ~ .form__label-std {
  transform: translateY(-6.2rem);
}
.form__input:hover ~ .form__label-std, .form__input:focus ~ .form__label-std, .form__input:not(:placeholder-shown) ~ .form__label-std {
  transform: translateY(-6.2rem);
}
.form__input:not(:-moz-placeholder-shown) ~ .form__textarea {
  transform: translateY(-15rem);
}
.form__input:not(:-ms-input-placeholder) ~ .form__textarea {
  transform: translateY(-15rem);
}
.form__input:hover ~ .form__textarea, .form__input:focus ~ .form__textarea, .form__input:not(:placeholder-shown) ~ .form__textarea {
  transform: translateY(-15rem);
}
.form__icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  fill: var(--color-grey-light-1);
}

.side-nav {
  list-style: none;
  margin-top: 7vh;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  display: grid;
  grid-template-rows: 1fr [list-start] -webkit-min-content [list-end logo-start] -webkit-min-content [logo-end] 1fr;
  grid-template-rows: 1fr [list-start] min-content [list-end logo-start] min-content [logo-end] 1fr;
}
.side-nav__list {
  grid-row: list-start/list-end;
  margin-bottom: 2rem;
}
.side-nav__item {
  position: relative;
  width: 100%;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover::before, .side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__link:link, .side-nav__link:visited {
  display: flex;
  align-items: center;
  color: var(--color-grey-light-1);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 1;
}
.side-nav__icon {
  height: 2rem;
  width: 2em;
  fill: var(--color-grey-light-1);
  margin-right: 2rem;
}
.side-nav__logo {
  grid-row: logo-start/logo-end;
  width: 15rem;
  justify-self: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin-inline: auto;
  overflow: hidden;
}
.slider__slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slider__slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 50%;
  fill: var(--color-primary-dark);
  stroke: var(--color-grey-dark-1);
  stroke-width: 5%;
  stroke-opacity: 75%;
  height: 3rem;
  width: 3rem;
  box-shadow: 0 0.35rem 0.75rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.slider__dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slider__dot {
  border: none;
  background-color: var(--color-grey-light-1);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 0.35rem 0.75rem rgba(0, 0, 0, 0.5);
}
.slider__dot:last-child {
  margin: 0;
}
.slider__dot--active {
  /* background-color: #fff; */
  background-color: var(--color-primary);
  opacity: 1;
}

.about {
  grid-column: content-start/content-end;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  padding: 6rem;
}
.about__quote {
  display: block;
  margin-bottom: 5rem;
  font-style: italic;
  font-weight: 600;
  color: var(--color-grey-light-3);
}
.about__paragraph {
  font-size: 1.8rem;
  color: var(--color-grey-light-1);
  max-width: 60%;
}
.about__links {
  display: flex;
  align-items: center;
}
.about__item {
  list-style: none;
  line-height: 1;
}
.about__item:not(:last-child) {
  margin-right: 3rem;
}
.about__icon {
  height: 5rem;
  width: 5rem;
  fill: var(--color-grey-dark-2);
}
.about__btn-icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  align-items: flex-end;
  fill: var(--color-grey-light-1);
}

.faq {
  max-width: 80rem;
}
.faq__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.faq__row:not(:last-child) {
  margin-bottom: 3rem;
}
.faq__question {
  text-transform: uppercase;
}
.faq__answer {
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.contact {
  grid-column: content-start/content-end;
  padding: 6rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
}
.contact__container {
  display: grid;
  grid-template-columns: minmax(35rem, 1.25fr) minmax(30rem, 1fr);
  background-color: var(--color-white);
  border-radius: 5px;
  max-width: 90rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem var(--shadow-dark);
  margin-inline: auto;
}
.contact__content {
  background-color: var(--color-grey-dark-2);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 0 auto;
}
.contact__text {
  color: var(--color-grey-light-1);
}

.footer {
  grid-column: content-start/content-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey-dark-2);
  padding: 6rem;
}
.footer__logo {
  width: 30rem;
  margin: -2rem 0;
  justify-self: center;
}
.footer__nav {
  display: flex;
  gap: 3rem;
}
.footer__item {
  list-style: none;
}
.footer__icon {
  height: 5rem;
  width: 5rem;
  fill: var(--color-primary);
}

.header {
  grid-column: content-start/content-end;
  position: relative;
  max-width: 100%;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.85), rgba(250, 250, 250, 0.85)), url(../../img/hero.jpg);
  background-size: cover;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project {
  grid-column: content-start/content-end;
  background-color: var(--color-grey-light-2);
  padding: 6rem;
}
.project__container {
  margin-inline: auto;
  max-width: 95rem;
}
.project__card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 43rem;
  box-shadow: 0 1rem 3rem var(--shadow-light);
}
.project__card:not(:last-child) {
  margin-bottom: 6rem;
}
.project__content {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--color-grey-dark-2);
  border-right: 1px solid var(--color-grey-light-4);
}
.project__description {
  font-size: 1.6rem;
  color: var(--color-white);
  margin-bottom: auto;
  padding-bottom: 1.5rem;
}
.project__bullets {
  list-style: none;
}
.project__bullet {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.project__bullet-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-white);
  margin-left: -0.5rem;
}
.project__tech-stack {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1.5px solid var(--color-grey-light-4);
}
.project__tech {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
  padding: 0.1rem 1rem;
  background-color: var(--color-white);
  border-radius: 5rem;
}
.project__tech:not(:last-child) {
  margin-right: 1rem;
}
.project__links {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.project__link:link, .project__link:visited {
  display: flex;
  align-items: center;
  align-self: stretch;
  font-size: var(--font-default);
  font-weight: 600;
  color: var(--color-grey-light-1);
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: var(--color-primary-dark);
}
.project__icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: 1rem;
  fill: var(--color-white);
}
.project__images {
  grid-column: 2;
}

.sidebar {
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  background-color: var(--color-grey-dark-1);
  position: relative;
}

.skills {
  grid-column: content-start/content-end;
  background-color: var(--color-grey-dark-3);
  width: 100%;
  padding: 6rem;
}
.skills__container {
  max-width: 95rem;
  margin-inline: auto;
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 3rem;
}
.skills__grid:not(:last-child) {
  margin-bottom: 6rem;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, -webkit-min-content);
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 20rem [sidebar-end content-start] 1fr [content-end];
}/*# sourceMappingURL=main.css.map */