.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  background-color: var(--color-grey-dark-1);
  position: relative;

  &__logo {
    display: none;
  }

  &__btn {
    display: none;
  }
}
