.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  background-color: var(--color-grey-dark-1);
  position: relative;

  &__mobile-logo {
    display: none;

    width: 7.5rem;
    height: 7.5rem;
    align-self: center;
  }

  &__burger-btn {
    display: none;

    color: var(--color-primary);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    margin: 0 1rem;
    background: none;
    border: none;
    padding: 0;
    position: relative;

    transition: all 0.5s ease-in-out;
  }

  &__burger,
  &__burger::before,
  &__burger::after {
    opacity: 1;
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-primary);
    transition: all 0.5s ease-in-out;
    position: absolute;
    transform-origin: center;
  }

  &__burger::before,
  &__burger::after {
    content: '';
  }

  &__burger::before {
    transform: translate(-50%, -1rem);
  }

  &__burger::after {
    transform: translate(-50%, 1rem);
  }

  &__burger-btn {
    &.open .sidebar__burger {
      background-color: transparent;
    }

    &.open .sidebar__burger::before {
      transform: translate(-50%, 0) rotate(45deg);
    }

    &.open .sidebar__burger::after {
      transform: translate(-50%, 0) rotate(-45deg);
    }
  }
}
