.skills {
  grid-column: content-start / content-end;

  background-color: var(--color-grey-dark-3);
  padding: 6rem;

  &__container {
    margin-inline: auto;
  }

  &__grid {
    max-width: 95rem;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    gap: 3rem;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }
}
